@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Visitor Management application</h1>
    <h3><a asp-page="/Visitors/Create">Create Visitor Entry</a></h3>
</div>
